.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align children closer to the top */
    align-items: center;
    height: 100vh;
    padding-top: 50px; /* Add padding to control spacing */
    background-color: #f0f2f5;
}

.login-heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.form {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input {
    width: 50%;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
